/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* epilogue-500 */
@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 500;
  src: url("//lib.baomitu.com/fonts/epilogue/epilogue-500.eot"); /* IE9 Compat Modes */
  src: local("Epilogue"), local("Epilogue-Normal"), url("//lib.baomitu.com/fonts/epilogue/epilogue-500.eot?#iefix") format("embedded-opentype"), url("//lib.baomitu.com/fonts/epilogue/epilogue-500.woff2") format("woff2"), url("//lib.baomitu.com/fonts/epilogue/epilogue-500.woff") format("woff"), url("//lib.baomitu.com/fonts/epilogue/epilogue-500.ttf") format("truetype"), url("//lib.baomitu.com/fonts/epilogue/epilogue-500.svg#Epilogue") format("svg"); /* Legacy iOS */
}
/* epilogue-700 */
@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 700;
  src: url("//lib.baomitu.com/fonts/epilogue/epilogue-700.eot"); /* IE9 Compat Modes */
  src: local("Epilogue"), local("Epilogue-Normal"), url("//lib.baomitu.com/fonts/epilogue/epilogue-700.eot?#iefix") format("embedded-opentype"), url("//lib.baomitu.com/fonts/epilogue/epilogue-700.woff2") format("woff2"), url("//lib.baomitu.com/fonts/epilogue/epilogue-700.woff") format("woff"), url("//lib.baomitu.com/fonts/epilogue/epilogue-700.ttf") format("truetype"), url("//lib.baomitu.com/fonts/epilogue/epilogue-700.svg#Epilogue") format("svg"); /* Legacy iOS */
}
*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

:root {
  font-size: 18px;
}

body {
  position: relative;
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  overflow-x: hidden;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -9;
  width: 100%;
  height: 100%;
  background: hsl(0deg, 0%, 8%);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
body.mask::after {
  z-index: 9;
  opacity: 0.7;
}

.wrapper {
  margin: 0 auto;
}

h1 {
  position: absolute;
  left: -99999999px;
}

.nav-toggle {
  position: relative;
  z-index: 999;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: none;
  background: url("../images/icon-menu.svg") center no-repeat;
  cursor: pointer;
}
.nav-toggle.close {
  background: url("../images/icon-close-menu.svg") center no-repeat;
}

.nav-sidebar {
  position: absolute;
  top: 0;
  right: -64%;
  z-index: 99;
  width: 64%;
  height: 100%;
  padding: 5.8rem 1.6rem;
  background: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 41%);
  transition: right 0.4s ease-in-out;
}
.nav-sidebar.slide-in {
  right: 0;
}
.nav-sidebar a {
  color: hsl(0deg, 0%, 41%);
}
.nav-sidebar .nav .nav-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.nav-sidebar .nav .nav-content .nav-item {
  padding: 0.4rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
}
.nav-sidebar .nav .nav-content .nav-item.dropdown .arrow {
  transform: rotate(180deg);
}
.nav-sidebar .nav .nav-content .nav-item.dropdown .submenu-feature {
  height: 158px;
}
.nav-sidebar .nav .nav-content .nav-item.dropdown .submenu-company {
  height: 108px;
}
.nav-sidebar .nav .nav-content .nav-item .arrow {
  display: inline-block;
  width: 10px;
  height: 6px;
  margin-left: 1rem;
  vertical-align: middle;
  transform: rotate(0);
  background: url("../images/icon-arrow-down.svg");
  transition: transform 0.4s ease-in-out;
}
.nav-sidebar .nav .nav-content .nav-item .submenu {
  display: block;
  height: 0;
  transition: height 0.4s ease-in-out;
  overflow: hidden;
}
.nav-sidebar .nav .nav-content .nav-item .submenu .menu-item {
  margin: 1rem;
}
.nav-sidebar .nav .nav-content .nav-item .submenu .menu-item:last-child {
  margin-bottom: 0;
}
.nav-sidebar .nav .nav-content .nav-item .submenu .menu-item .icon {
  position: relative;
  top: 0.09rem;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 0.6rem;
  background-repeat: no-repeat;
  background-position: center;
}
.nav-sidebar .nav .nav-content .nav-item .submenu .menu-item .icon.icon-todo {
  background-image: url("../images/icon-todo.svg");
}
.nav-sidebar .nav .nav-content .nav-item .submenu .menu-item .icon.icon-calendar {
  background-image: url("../images/icon-calendar.svg");
}
.nav-sidebar .nav .nav-content .nav-item .submenu .menu-item .icon.icon-reminder {
  background-image: url("../images/icon-reminders.svg");
}
.nav-sidebar .nav .nav-content .nav-item .submenu .menu-item .icon.icon-planning {
  background-image: url("../images/icon-planning.svg");
}
.nav-sidebar .login {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 2rem;
}
.nav-sidebar .login a {
  margin-bottom: 1rem;
}
.nav-sidebar .login a.register-btn {
  width: 100%;
  padding: 0.8rem 0;
  border: 2px solid hsl(0deg, 0%, 41%);
  border-radius: 1rem;
  text-align: center;
}

.header {
  padding: 0 0.8rem;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
}

.main {
  margin-bottom: 2rem;
  text-align: center;
  color: hsl(0deg, 0%, 41%);
}
.main .wrapper {
  display: flex;
  flex-direction: column;
}
.main .wrapper .banner {
  display: block;
  margin-bottom: 2rem;
}
.main .wrapper .main-content .main-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(0deg, 0%, 8%);
}
.main .wrapper .main-content .main-intro {
  margin-bottom: 1rem;
  line-height: 1.4rem;
}
.main .wrapper .main-content .more {
  display: inline-block;
  padding: 0.8rem 1rem;
  margin-bottom: 2.4rem;
  border-radius: 0.8rem;
  color: hsl(0deg, 0%, 98%);
  background: hsl(0deg, 0%, 8%);
}
.main .wrapper .main-content .client {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.footer .attribution {
  font-size: 11px;
  text-align: center;
}
.footer .attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
