/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* epilogue-500 */
@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 500;
  src: url("//lib.baomitu.com/fonts/epilogue/epilogue-500.eot"); /* IE9 Compat Modes */
  src: local("Epilogue"), local("Epilogue-Normal"), url("//lib.baomitu.com/fonts/epilogue/epilogue-500.eot?#iefix") format("embedded-opentype"), url("//lib.baomitu.com/fonts/epilogue/epilogue-500.woff2") format("woff2"), url("//lib.baomitu.com/fonts/epilogue/epilogue-500.woff") format("woff"), url("//lib.baomitu.com/fonts/epilogue/epilogue-500.ttf") format("truetype"), url("//lib.baomitu.com/fonts/epilogue/epilogue-500.svg#Epilogue") format("svg"); /* Legacy iOS */
}
/* epilogue-700 */
@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 700;
  src: url("//lib.baomitu.com/fonts/epilogue/epilogue-700.eot"); /* IE9 Compat Modes */
  src: local("Epilogue"), local("Epilogue-Normal"), url("//lib.baomitu.com/fonts/epilogue/epilogue-700.eot?#iefix") format("embedded-opentype"), url("//lib.baomitu.com/fonts/epilogue/epilogue-700.woff2") format("woff2"), url("//lib.baomitu.com/fonts/epilogue/epilogue-700.woff") format("woff"), url("//lib.baomitu.com/fonts/epilogue/epilogue-700.ttf") format("truetype"), url("//lib.baomitu.com/fonts/epilogue/epilogue-700.svg#Epilogue") format("svg"); /* Legacy iOS */
}
html {
  box-sizing: border-box;
  font-size: 18px;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  position: relative;
  background: hsl(0deg, 0%, 98%);
  font-family: "Epilogue", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: max(100%, 100vh);
  background: hsl(0deg, 0%, 8%);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
body.mask::after {
  left: 0;
  opacity: 0.6;
  z-index: 9;
}

a {
  color: hsl(0deg, 0%, 41%);
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1 {
  position: absolute;
  left: -99999999999999px;
}

.wrapper {
  margin: 0 auto;
}

.nav-toggle {
  position: relative;
  z-index: 999;
  width: 2rem;
  height: 2rem;
  background: url("../images/icon-menu.svg") no-repeat center;
  border: none;
  cursor: pointer;
}
.nav-toggle.close {
  background-image: url("../images/icon-close-menu.svg");
}

.nav-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  width: 68%;
  height: max(100%, 100vh);
  padding: 5rem 1.6rem;
  transform: translateX(100%);
  background: hsl(0deg, 0%, 98%);
  transition: transform 0.4s ease-in-out;
}
.nav-sidebar.slide-in {
  transform: translateX(0);
}
.nav-sidebar .nav {
  margin-bottom: 2.4rem;
}
.nav-sidebar .nav .nav-content .nav-item {
  margin-bottom: 1.4rem;
  cursor: pointer;
  overflow: hidden;
}
.nav-sidebar .nav .nav-content .nav-item .arrow {
  display: inline-block;
  width: 10px;
  height: 6px;
  margin-left: 0.8rem;
  vertical-align: middle;
  background: url("../images/icon-arrow-down.svg");
}
.nav-sidebar .nav .nav-content .nav-item .submenu {
  padding-top: 0;
  padding-left: 1.4rem;
  height: 0;
  transition: height 0.33s ease-in-out, padding-top 0.07s 0.33s ease-in-out;
}
.nav-sidebar .nav .nav-content .nav-item .submenu.submenu-feature.open {
  padding-top: 1.4rem;
  height: calc(133.55px + 1.4rem);
}
.nav-sidebar .nav .nav-content .nav-item .submenu.submenu-company.open {
  height: 90px;
}
.nav-sidebar .nav .nav-content .nav-item .submenu .menu-item {
  margin-bottom: 1rem;
}
.nav-sidebar .nav .nav-content .nav-item .submenu .menu-item:last-child {
  margin-bottom: 0;
}
.nav-sidebar .nav .nav-content .nav-item .submenu .menu-item .icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.8rem;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: -14%;
}
.nav-sidebar .nav .nav-content .nav-item .submenu .menu-item .icon.icon-todo {
  background-image: url("../images/icon-todo.svg");
}
.nav-sidebar .nav .nav-content .nav-item .submenu .menu-item .icon.icon-calendar {
  background-image: url("../images/icon-calendar.svg");
}
.nav-sidebar .nav .nav-content .nav-item .submenu .menu-item .icon.icon-reminder {
  background-image: url("../images/icon-reminders.svg");
}
.nav-sidebar .nav .nav-content .nav-item .submenu .menu-item .icon.icon-planning {
  background-image: url("../images/icon-planning.svg");
}
.nav-sidebar .login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-sidebar .login a {
  margin-bottom: 0.8rem;
}
.nav-sidebar .login a.register-btn {
  width: 100%;
  padding: 0.6rem;
  border: 2px solid hsl(0deg, 0%, 41%);
  border-radius: 1rem;
  text-align: center;
}

.header {
  color: hsl(0deg, 0%, 41%);
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 1rem;
}

/*# sourceMappingURL=style.css.map */
