html {
    box-sizing: border-box;
    font-size: $body-fs;
    overflow-x: hidden;

}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    position: relative;
    // overflow-x: hidden;
    background: $almost-white;

    font: {
        family: 'Epilogue', sans-serif;
        size: 1rem;
        weight: 500;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: max(100%, 100vh);
        background: $almost-black;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }

    &.mask::after {
        left: 0;
        opacity: 0.6;
        z-index: 9;
    }
}

a {
    color: $medium-gray;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

h1 {
    position: absolute;
    left: -99999999999999px;
}

.wrapper {
    margin: 0 auto;
}