
/* epilogue-500 */
@font-face {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    src: url('//lib.baomitu.com/fonts/epilogue/epilogue-500.eot'); /* IE9 Compat Modes */
    src: local('Epilogue'), local('Epilogue-Normal'),
         url('//lib.baomitu.com/fonts/epilogue/epilogue-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('//lib.baomitu.com/fonts/epilogue/epilogue-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('//lib.baomitu.com/fonts/epilogue/epilogue-500.woff') format('woff'), /* Modern Browsers */
         url('//lib.baomitu.com/fonts/epilogue/epilogue-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('//lib.baomitu.com/fonts/epilogue/epilogue-500.svg#Epilogue') format('svg'); /* Legacy iOS */
  }
    
  /* epilogue-700 */
  @font-face {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    src: url('//lib.baomitu.com/fonts/epilogue/epilogue-700.eot'); /* IE9 Compat Modes */
    src: local('Epilogue'), local('Epilogue-Normal'),
         url('//lib.baomitu.com/fonts/epilogue/epilogue-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('//lib.baomitu.com/fonts/epilogue/epilogue-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('//lib.baomitu.com/fonts/epilogue/epilogue-700.woff') format('woff'), /* Modern Browsers */
         url('//lib.baomitu.com/fonts/epilogue/epilogue-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('//lib.baomitu.com/fonts/epilogue/epilogue-700.svg#Epilogue') format('svg'); /* Legacy iOS */
  }
    