.header {

    color: $medium-gray;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.4rem 1rem;

        @media (min-width: $breakpoint) {
            justify-content: flex-start;
            gap: 4rem;
        }
    }
}