.main {

    margin-bottom: 2rem;
    text-align: center;
    color: $medium-gray;

    .wrapper {
        display: flex;
        flex-direction: column;

        .banner {
            display: block;
            margin-bottom: 2rem;
        }

        .main-content {

            .main-title {
                margin-bottom: 1rem;
                font: {
                    size: 2rem;
                    weight: 700;
                }
                color: $almost-black;
            }

            .main-intro {
                margin-bottom: 1rem;
                line-height: 1.4rem;
            }

            .more {
                display: inline-block;
                padding: 0.8rem 1rem;
                margin-bottom: 2.4rem;
                border-radius: 0.8rem;
                color: $almost-white;
                background: $almost-black;
            }

            .client {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                width: 100%;

                
            }
        }
    }
}