.nav-toggle {
    position: relative;
    z-index: 999;
    width: 2rem;
    height: 2rem;
    background: url('../images/icon-menu.svg') no-repeat center;
    border: none;
    cursor: pointer;

    &.close {
        background-image: url('../images/icon-close-menu.svg');
    }
}

.nav-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    width: 68%;
    height: max(100%, 100vh);
    padding: 5rem 1.6rem;
    transform: translateX(100%);
    background: $almost-white;
    transition: transform 0.4s ease-in-out;

    &.slide-in {
        transform: translateX(0);
    }

    .nav {
        margin-bottom: 2.4rem;

        .nav-content {

            .nav-item {
                margin-bottom: 1.4rem;
                cursor: pointer;
                overflow: hidden;

                // &::before, &::after {
                //     content: '';
                //     display: block;
                //     margin-bottom: 1.4rem;
                // }

                // &::before {
                //     margin-top: 1.4rem;
                // }

                .arrow {
                    display: inline-block;
                    width: 10px;
                    height: 6px;
                    margin-left: 0.8rem;
                    vertical-align: middle;
                    background: url('../images/icon-arrow-down.svg');
                }

                .submenu {
                    // display: flex;
                    // flex-direction: column;
                    // justify-content: flex-end;
                    // padding: 1.4rem 0 0 1.4rem;
                    // padding: 1.4rem;
                    // padding: 0;
                    // padding-top: 1.4rem;
                    padding-top: 0;
                    padding-left: 1.4rem;
                    // margin: 1.4rem 0;
                    // margin-top: 1.4rem;
                    height: 0;
                    // width: 0;
                    // margin-top: 1.4rem;
                    transition: height 0.33s ease-in-out,
                    padding-top 0.07s 0.33s ease-in-out;
                    // transition: height ,padding-top 0.4s ease-in-out;
                    // overflow: hidden;

                    // &.open {
                    //     padding-top: 1.4rem;
                    // }

                    // &::before {
                    //     content: '';
                    //     display: block;
                    //     margin-bottom: 0;
                    // }

                    // &.submenu-feature.open::before {
                    //     margin-bottom: 1.4rem;
                    // }

                    &.submenu-feature.open {
                        padding-top: 1.4rem;
                        height: calc(133.55px + 1.4rem);
                    }

                    &.submenu-company.open {
                        height: 90px;
                    }

                    .menu-item {
                        // padding: 0.1rem;
                        margin-bottom: 1rem;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .icon {
                            display: inline-block;
                            width: 1rem;
                            height: 1rem;
                            margin-right: 0.8rem;

                            background: {
                                repeat: no-repeat;
                                position: center;
                            }

                            vertical-align: -14%;

                            &.icon-todo {
                                background-image: url('../images/icon-todo.svg');
                            }

                            &.icon-calendar {
                                background-image: url('../images/icon-calendar.svg');
                            }

                            &.icon-reminder {
                                background-image: url('../images/icon-reminders.svg');
                            }

                            &.icon-planning {
                                background-image: url('../images/icon-planning.svg');
                            }
                        }
                    }
                }
            }
        }
    }

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        a {
            margin-bottom: 0.8rem;

            &.register-btn {
                width: 100%;
                padding: 0.6rem;
                border: 2px solid $medium-gray;
                border-radius: 1rem;
                text-align: center;
            }
        }
    }
}