// $breakpoint: 700px;

.nav-toggle {
    position: relative;
    z-index: 999;
    width: 2rem;
    height: 2rem;
    background: url('../images/icon-menu.svg') no-repeat center;
    border: none;
    cursor: pointer;

    &.close {
        background-image: url('../images/icon-close-menu.svg');
    }

    @media (min-width: $breakpoint) {
        display: none;
    }
}

.nav-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    width: 68%;
    height: max(100%, 100vh);
    padding: 5rem 1.6rem;
    transform: translateX(100%);
    background: $almost-white;
    transition: transform 0.4s ease-in-out;

    &.slide-in {
        transform: translateX(0);
    }

    @media (min-width: $breakpoint) {
        position: relative;
        transform: translateX(0);
        display: flex;
        align-items: center;
        padding: 0;
        flex-grow: 1;
        justify-content: space-between;
    }

    .nav {
        margin-bottom: 2.4rem;

        @media (min-width: $breakpoint) {
            margin-bottom: 0;
        }

        .nav-content {

            display: flow-root;

            .nav-item {
                position: relative;
                margin-bottom: 1.4rem;
                cursor: pointer;
                display: flow-root;


                @media (min-width: $breakpoint) {
                    float: left;
                    margin-bottom: 0;
                    margin-right: 2rem;
                }

                &:hover,
                a:hover {
                    color: $almost-black;
                }

                .arrow {
                    display: inline-block;
                    width: 10px;
                    height: 6px;
                    margin-left: 0.8rem;
                    vertical-align: middle;
                    background: url('../images/icon-arrow-down.svg');
                }

                .submenu {

                    padding-top: 0;
                    padding-left: 1.4rem;
                    height: 0;
                    transition: height 0.33s ease-in-out;
                    overflow: hidden;

                    @media (min-width: $breakpoint) {
                        position: absolute;
                        top: 2rem;
                        right: 0;
                        width: calc(100% + 4rem);
                        // padding: 1rem;
                        border-radius: 0.6rem;
                        box-shadow: 0 0 20px 0 rgba(110, 109, 109, 0.344);
                        background: #fff;

                        &.submenu-company {
                            left: 0;
                            width: calc(100% + 1rem);
                        }

                        &.submenu-feature.open {
                            height: calc(133.55px + 2 * 1.4rem) !important;
                        }

                        &.submenu-company.open {
                            height: calc(90px + 2 * 1.4rem) !important;
                        }
                    }

                    &.submenu-feature.open {
                        height: calc(133.55px + 1.4rem);
                    }

                    &.submenu-company.open {
                        height: calc(90px + 1.4rem);
                    }

                    .menu-item {
                        position: relative;
                        top: 1.4rem;
                        margin-bottom: 1rem;

                        // @media (min-width: $breakpoint) {
                        // }

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .icon {
                            display: inline-block;
                            width: 1rem;
                            height: 1rem;
                            margin-right: 0.8rem;

                            background: {
                                repeat: no-repeat;
                                position: center;
                            }

                            vertical-align: -14%;

                            &.icon-todo {
                                background-image: url('../images/icon-todo.svg');
                            }

                            &.icon-calendar {
                                background-image: url('../images/icon-calendar.svg');
                            }

                            &.icon-reminder {
                                background-image: url('../images/icon-reminders.svg');
                            }

                            &.icon-planning {
                                background-image: url('../images/icon-planning.svg');
                            }
                        }
                    }
                }
            }
        }
    }

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: $breakpoint) {
            flex-direction: row;
        }

        a {
            margin-bottom: 0.8rem;

            @media (min-width: $breakpoint) {
                margin-bottom: 0;
                margin-right: 2rem;

                &:last-child {
                    margin-right: 0;
                }
            }

            &:hover {
                color: $almost-black;
            }

            &.register-btn {
                width: 100%;
                padding: 0.6rem;
                border: 2px solid $medium-gray;
                border-radius: 1rem;
                text-align: center;

                &:hover {
                    border-color: $almost-black;
                }
            }
        }
    }
}