// colors
$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);

// body copy
$body-fs: 18px;

// mobile: 375px
// desktop: 1440px
// breakpoints
$breakpoint: 960px;

